@charset "UFT-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#7684AA, #4E5E7E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #192433;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #283A52;
    text-align: center;
}

h2{
    color: #4E5E7E;
}

p {
    text-align: justify;
}