@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode varios elementos)
*/

body{
    background-color: rgba(109, 212, 178, 0.678);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: rgba(22, 71, 55, 0.842);
}

#principal{
    color: rgba(255, 255, 255, 0.788);
    text-align: center;
    background-color: rgb(53, 128, 84);
}

h2{
    color: rgba(53, 128, 84, 0.822);
}

.basico{
    color: rgb(73, 175, 115);
}

.intermediario{
    color: rgb(235, 226, 100);
}

.avancado{
    color: rgba(192, 84, 84, 0.822);
}
