@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: rgba(223, 223, 223, 0.384);
}
header {
    height: 80vh;
    background: no-repeat center/cover url(../imagens/header.jpg);
    font-weight: bolder;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    color: #8844EE;
}
header nav ul {
    display: flex;
    margin: 0px 15px;
    list-style: none;
}
nav ul li a{
    display: flex;
    margin: 16px 15px;
    list-style: none;
    text-decoration: none;
    color: #8844EE;
}
nav ul li a:hover{
    color: black;
    transition-duration: 0.5s;
}
button{
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    border: 10px;
    background: white;
    color: black;
    transition-duration: 0.5s;
}
button:hover{
    background-color: #8844EE;
    color: black;
}
.header-content{
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    color: white;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.61);
}
.cidade{
    display: flex;
    padding: 15px 0px;
}
.itemflex50{
    flex-basis: 50%;
    width: 100%;
}
.cidadeimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 90%;
}
.cidadetexto{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cidadetexto h2{
    font-size: 25px;
    font: bold;
}
.cidadetexto p{
    padding: 0px 10px;
    text-align: justify;
}
section#servicos{
    background-color: white;
    padding: 10px;
}
.servicostitulo{
    text-align: center;
    font-size: 1.5em;
}
.servicos{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 20px;
    justify-content: center;
}
.cards{
    flex-basis: 33%;
    flex: 1 1 100px;
    text-align: center;
    border: 1px solid #8844EE;
    border-radius: 5px;
    margin: 5px;
    max-width: 500px;
    justify-content: center;
}
.contato{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.redesociais{
    padding-bottom: 5px;
}
.redesociais img {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
}
.redesociais img:hover{
    border: 2px solid black;
}
.contato h2{
    font-size: 1.3em;
}
.form{
    background-color: #8844EE;
    padding: 3px 20px 30px 20px;
    color: white;
    border-radius: 10px;
    display: inline-block;
}
.form label,input,textarea,.botaoform{
    display: block;
    width: 100%;
}
.form label{
    color: white;
    text-align: left;
    margin-bottom: 5px;
}
.form input,textarea{
    padding: 0.8em;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
}
.form textarea{
    min-height: 10rem;
    max-height: 15rem;
    resize: vertical;
}
.rodape-copyright{
    text-align: center;
    padding: 15px;
    border-top: 1px solid #8844EE;
}
.git{
    text-decoration: underline;
}
.git:visited {
    color: black;
}



@media (max-width: 770px){
    .cidade {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    body {
        margin-bottom: 55px;
    }
    nav ul li a{
        color: white;
    }
    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 99;
        background-color: #8844EE;
        color: black;
        font-weight: bold;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav p {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 370px){
    header nav ul{
        font-size: 60%;
    }
    .servicos{
        display: inline-block;
    }
    .cards img{
        width: 75%;
        height: 75%;
    }
}